
<!DOCTYPE html>
<html>
<head>
	<title>Confirmation Page</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link rel="icon" type="image/x-icon" href="https://img.icons8.com/ios/256/bookshop.png">
</head>
<body>
	<h1>Booking Confirmation</h1>
	{% if bookings %}
		{% for seat, booking in bookings.items() %}
			<p>{{ seat }} is booked by {{ booking.name }} ({{ booking.email }}, for {{ booking.date }} during {{ booking.time }}).</p>
		{% endfor %}
	{% else %}
		<p>No bookings have been made.</p>
	{% endif %}
	<a href="/">Book Another Seat</a>
</body>
</html>