<!DOCTYPE html>
<html>
<head>
	<title>Library Seat Booking</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link rel="icon" type="image/x-icon" href="https://img.icons8.com/ios/256/bookshop.png">
  <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
  
</head>
<body>
  	<h1>Library Seat Booking</h1>
	<form method="POST" action="/book">
		<label for="name">Name:</label>
		<input type="text" id="name" name="name" required>

		<label for="email">Email:</label>
		<input type="email" id="email" name="email" required>

    <label for="seat">Seat:</label>
		<select id="seat" name="seat" required>

			{% for seat in seats %}
				<option value="{{ seat }}">{{ seat }}</option>
			{% endfor %}

		</select>

    <label for="date">Date:</label>
    <input type="date" id="date" name="date" required>
    
		<label for="time">Time:</label>
		<select id="time" name="time" required>
			<option value="">Select a time slot</option>
			<option value="9am-11am">9am-11am</option>
			<option value="11am-1pm">11am-1pm</option>
			<option value="1pm-3pm">1pm-3pm</option>
			<option value="3pm-5pm">3pm-5pm</option>
		</select>

		<input type="submit" value="Book Seat">
	</form>

  <div id="easter-egg">
    <p>EASTER EGG!
      <br>
    CLOSE
    </p>
  </div>

  
</body>
</html>
